<picture>
  <!-- {{ $isJPG := eq (path.Ext .Destination) ".jpg" }}
  {{ $isPNG := eq (path.Ext .Destination) ".png" }}

  {{ if ($isJPG) -}}
    {{ $avifPath:= replaceRE "(jpg|jpeg)$i" ".avif" .Destination }}
    {{ $avifPathStatic:= printf "static/%s" $avifPath }}

    {{ if (fileExists $avifPathStatic) -}}
      <source srcset="{{ $avifPath | safeURL }}" type="image/avif" >
    {{- end }}

    {{ $webpPath:= replaceRE "(jpg|jpeg)$i" ".webp" .Destination }}
    {{ $webpPathStatic:= printf "static/%s" $webpPath }}

    {{ if (fileExists $webpPathStatic) -}}
      <source srcset="{{ $webpPath | safeURL }}" type="image/webp" >
    {{- end }}
  {{- end }}

  {{ if ($isPNG) -}}
    {{ $avifPath:= replaceRE "(jpg|jpeg)$i" ".avif" .Destination }}
    {{ $avifPathStatic:= printf "static/%s" $avifPath }}

    {{ if (fileExists $avifPathStatic) -}}
      <source srcset="{{ $avifPath | safeURL }}" type="image/avif" >
    {{- end }}

    {{ $webpPath:= replaceRE "(jpg|jpeg)$i" ".webp" .Destination }}
    {{ $webpPathStatic:= printf "static/%s" $webpPath }}

    {{ if (fileExists $webpPathStatic) -}}
      <source srcset="{{ $webpPath | safeURL }}" type="image/webp" >
    {{- end }}
  {{- end }}

{{- $img := .Page.Resources.GetMatch .Destination -}}
{{- if and (not $img) .Page.File -}}
    {{ $path := path.Join .Page.File.Dir .Destination }}
    {{- $img = resources.Get $path -}}
{{- end -}}
{{- with $img -}} -->
  {{ if $.Title }}
    <figure>
      <img
        src="{{ $img.RelPermalink | safeURL }}"
        alt="{{ $.Text }}"
        {{ with $.Title}} title="{{ . }}"{{ end }}
        loading="lazy"
        decoding="async"
      />
      <figcaption>{{ $.Title }}</figcaption>
    </figure>
  {{ else }}
    <img
      src="{{ $img.RelPermalink | safeURL }}"
      alt="{{ $.Text }}"
      loading="lazy"
      decoding="async"
    />
  {{ end }}
<!-- {{- end -}} -->
</picture>
